{% extends 'base.jinja2' %}

{% block subtitle %}About{% endblock subtitle %}

{% block content %}

<h4>This is literally how taxes work...</h4>
<div id="faq" width=50%>
<h3>Why this method of splitting?</h3>
<p>Because you care about the financial comfort of the people you're splitting the bill with.
$50 matters way more to someone who makes $1000/month vs. someone who makes $2000 a month.
Splitting a bill presumes you are sharing something with others. I don't think anyone wants to financially inconvenience their friends just by sharing with them.
</p>
<br>
<h3>What if someone lies about their income?</h3>
<p>If someone lies, then there's really nothing you can do about it.
I think this method only works with friends/family who are honest and upfront with their finances.
Hopefully using this method will dispell the stigma of talking about money/income.
</p>
<br>
<h3>What if someone uses this extra financial flexibility irresponsibly (i.e. spends more $ on unnecessary stuff)?</h3>
<p>You're not responsible for their spending... Hopefully the honesty that comes with this method of splitting also opens up further discussion of finances.
</p>
</div>


{% endblock content %}